openapi: 3.2.0
info:
  title: Fence OpenAPI Specification Credentials API
  version: 0.1.0
  description: Access management for Gen3 data commons. Code is available on GitHub.
  termsOfService: http://cdis.uchicago.edu/terms/
  contact:
    email: cdis@uchicago.edu
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://gen3.datacommons.io/
  description: University of Chicago Center for Translational Data Science (CTDS) reference Gen3 data commons. Gen3 is deployable software authored by CTDS (github.com/uc-cdis), so the upstream specification ships a placeholder host; this is the base URL of the deployment CTDS itself operates. The datacommons.io domain is registered to CDIS, University of Chicago.
  x-operator: institution
  x-verified: '2026-08-19'
  x-verified-evidence: https://gen3.datacommons.io/.well-known/openid-configuration
tags:
- name: Credentials
  description: Access credentials
paths:
  /credentials:
    get:
      tags:
      - Credentials
      summary: List credential resources
      description: List different resources user can have credentials
      security:
      - OAuth2:
        - user
      operationId: listSources
      responses:
        '200':
          description: successful operation
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          scopes:
            user: generic user access
