openapi: 3.2.0
info:
  description: Indexd is a data indexing and tracking service. The code is open source on github
  version: 1.0.0
  title: Indexd OpenAPI Specification Query API
  termsOfService: http://cdis.uchicago.edu/terms/
  contact:
    email: cdis@uchicago.edu
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://gen3.datacommons.io/
  description: University of Chicago Center for Translational Data Science (CTDS) reference Gen3 data commons. Gen3 is deployable software authored by CTDS (github.com/uc-cdis), so the upstream specification ships a placeholder host; this is the base URL of the deployment CTDS itself operates. The datacommons.io domain is registered to CDIS, University of Chicago.
  x-operator: institution
  x-verified: '2026-08-19'
  x-verified-evidence: https://gen3.datacommons.io/.well-known/openid-configuration
tags:
- name: Query
  description: query endpoints
paths:
  /_query/urls/q:
    get:
      tags:
      - Query
      summary: search index records by urls
      operationId: queryUrls
      parameters:
      - in: query
        name: exclude
        description: search for documents without a single URL that match this pattern
        required: false
        schema:
          type: string
      - in: query
        name: include
        description: search for documents with at least one URL that match this pattern
        required: false
        schema:
          type: string
      - in: query
        name: versioned
        description: if true search for documents with a version set, else search documents without version
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: limit
        description: maximum rows to return
        required: false
        schema:
          type: integer
          default: 100
      - in: query
        name: offset
        description: pointer position to start search
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLsOutput'
        '400':
          description: invalid request parameters
  /_query/urls/metadata/q:
    get:
      tags:
      - Query
      summary: search index records by urls metadata key and value
      operationId: queryUrlsMetadata
      parameters:
      - in: query
        name: key
        description: metadata key to search by
        required: true
        schema:
          type: string
      - in: query
        name: value
        description: metadata value for provided key
        required: true
        schema:
          type: string
      - in: query
        name: url
        description: URL patter to filter by
        required: false
        schema:
          type: string
      - in: query
        name: versioned
        description: if true search for documents with a version set, else search documents without version
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: limit
        description: maximum rows to return
        required: false
        schema:
          type: integer
          default: 100
      - in: query
        name: offset
        description: pointer position to start search
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLsOutput'
        '400':
          description: invalid request parameters
components:
  schemas:
    URLsOutput:
      type: array
      items:
        type: object
        properties:
          did:
            type: string
          urls:
            type: array
            items:
              type: string
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    authToken:
      type: apiKey
      in: header
      name: Authorization
