openapi: 3.2.0
info:
  contact:
    email: cdis@uchicago.edu
  description: A data submission API for CDIS Gen 3 data commons. Code is available on GitHub.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://cdis.uchicago.edu/terms/
  title: Sheepdog OpenAPI Specification Program API
  version: '1.0'
servers:
- url: https://gen3.datacommons.io/
  description: University of Chicago Center for Translational Data Science (CTDS) reference Gen3 data commons. Gen3 is deployable software authored by CTDS (github.com/uc-cdis), so the upstream specification ships a placeholder host; this is the base URL of the deployment CTDS itself operates. The datacommons.io domain is registered to CDIS, University of Chicago.
  x-operator: institution
  x-verified: '2026-08-19'
  x-verified-evidence: https://gen3.datacommons.io/.well-known/openid-configuration
tags:
- name: Program
paths:
  /v0/submission/:
    get:
      description: Return the available resources at the top level above programs i.e. registered programs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schema_links'
        '403':
          description: Unauthorized request.
      summary: Get the programs
      tags:
      - Program
      operationId: getV0Submission
      x-operation-id-source: derived
    patch:
      description: Register a program. The content of the request is a JSON containing the information describing a program. Authorization for registering programs is limited to administrative users.
      responses:
        '200':
          description: Registered successfully.
        '403':
          description: Unauthorized request.
      summary: Create a program
      tags:
      - Program
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema_program'
        description: input body
      operationId: patchV0Submission
      x-operation-id-source: derived
    post:
      description: Register a program. The content of the request is a JSON containing the information describing a program. Authorization for registering programs is limited to administrative users.
      responses:
        '200':
          description: Registered successfully.
        '403':
          description: Unauthorized request.
      summary: Create a program
      tags:
      - Program
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema_program'
        description: input body
      operationId: postV0Submission
      x-operation-id-source: derived
    put:
      description: Register a program. The content of the request is a JSON containing the information describing a program. Authorization for registering programs is limited to administrative users.
      responses:
        '200':
          description: Registered successfully.
        '403':
          description: Unauthorized request.
      summary: Create a program
      tags:
      - Program
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema_program'
        description: input body
      operationId: putV0Submission
      x-operation-id-source: derived
  /v0/submission/<program>:
    delete:
      description: Delete a program given program name. If the program is not empty raise an appropriate exception
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success.
        '400':
          description: User error.
        '403':
          description: Unauthorized request.
        '404':
          description: Program not found.
      summary: Delete a program
      tags:
      - Program
      operationId: deleteV0Submission<program>
      x-operation-id-source: derived
components:
  schemas:
    schema_links:
      properties:
        links:
          items:
            type: string
          type: array
      required:
      - links
      type: object
    schema_program:
      properties:
        dbgap_accession_number:
          type: string
        name:
          type: string
        type:
          type: string
      required:
      - name
      - dbgap_accession_number
      type: object
