openapi: 3.2.0
info:
  title: Fence OpenAPI Specification Login API
  version: 0.1.0
  description: Access management for Gen3 data commons. Code is available on GitHub.
  termsOfService: http://cdis.uchicago.edu/terms/
  contact:
    email: cdis@uchicago.edu
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://gen3.datacommons.io/
  description: University of Chicago Center for Translational Data Science (CTDS) reference Gen3 data commons. Gen3 is deployable software authored by CTDS (github.com/uc-cdis), so the upstream specification ships a placeholder host; this is the base URL of the deployment CTDS itself operates. The datacommons.io domain is registered to CDIS, University of Chicago.
  x-operator: institution
  x-verified: '2026-08-19'
  x-verified-evidence: https://gen3.datacommons.io/.well-known/openid-configuration
tags:
- name: Login
paths:
  /login/shib:
    get:
      tags:
      - Login
      summary: Initiate login via shibboleth provider
      description: 'NOTE that this endpoint only exists if shibboleth is enabled as an

        identity provider in the fence config. Currently this only happens for

        `login.bionimbus.org`.'
      parameters:
      - name: shib_idp
        required: false
        in: query
        description: Identifier for the shibboleth IDP. Available identifiers are what is listed by the `login.bionimbus.org/Shibboleth.sso/DiscoFeed` endpoint. If no `shib_idp` is specified, defaults to NIH login.
        schema:
          type: string
        example: urn:mace:incommon:uchicago.edu
      responses:
        302:
          description: redirect to external identity provider
      operationId: getLoginShib
      x-operation-id-source: derived
  /login/fence:
    get:
      tags:
      - Login
      summary: Initiate login via Fence provider (multi-tenant Fence)
      description: 'NOTE that this endpoint only exists if fence is enabled as an

        identity provider in the fence config.'
      parameters:
      - name: idp
        required: false
        in: query
        description: Identifier for the IDP. Specifying `idp=shibboleth` lets us specify a `shib_idp`. If no `idp` is specified, defaults to NIH login.
        schema:
          type: string
        example: shibboleth
      - name: shib_idp
        required: false
        in: query
        description: Identifier for the shibboleth IDP. Available identifiers are what is listed by the `login.bionimbus.org/Shibboleth.sso/DiscoFeed` endpoint. If no `shib_idp` is specified, defaults to NIH login.
        schema:
          type: string
        example: urn:mace:incommon:uchicago.edu
      responses:
        302:
          description: redirect to external identity provider
      operationId: getLoginFence
      x-operation-id-source: derived
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          scopes:
            user: generic user access
