openapi: 3.2.0
info:
  description: Indexd is a data indexing and tracking service. The code is open source on github
  version: 1.0.0
  title: Indexd OpenAPI Specification GUID API
  termsOfService: http://cdis.uchicago.edu/terms/
  contact:
    email: cdis@uchicago.edu
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://gen3.datacommons.io/
  description: University of Chicago Center for Translational Data Science (CTDS) reference Gen3 data commons. Gen3 is deployable software authored by CTDS (github.com/uc-cdis), so the upstream specification ships a placeholder host; this is the base URL of the deployment CTDS itself operates. The datacommons.io domain is registered to CDIS, University of Chicago.
  x-operator: institution
  x-verified: '2026-08-19'
  x-verified-evidence: https://gen3.datacommons.io/.well-known/openid-configuration
tags:
- name: GUID
  description: Endpoints for generation of Gen3 GUIDs
paths:
  /guid/mint:
    get:
      tags:
      - GUID
      summary: Get a list of valid GUIDs without actually indexing records
      operationId: getGUIDs
      parameters:
      - in: query
        name: count
        description: Number of GUIDs to return, default is 1 (note that there is a max of 10k)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGUIDsOutput'
  /guid/prefix:
    get:
      tags:
      - GUID
      summary: Provide prefix used for this instance (if any)
      operationId: getPrefix
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPrefixOutput'
components:
  schemas:
    GetPrefixOutput:
      type: object
      properties:
        prefix:
          type: string
          description: Prefix
    GetGUIDsOutput:
      type: object
      properties:
        guids:
          type: array
          items:
            type: string
            description: GUIDs
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    authToken:
      type: apiKey
      in: header
      name: Authorization
