openapi: 3.2.0
info:
  title: Fence OpenAPI Specification Logout API
  version: 0.1.0
  description: Access management for Gen3 data commons. Code is available on GitHub.
  termsOfService: http://cdis.uchicago.edu/terms/
  contact:
    email: cdis@uchicago.edu
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://gen3.datacommons.io/
  description: University of Chicago Center for Translational Data Science (CTDS) reference Gen3 data commons. Gen3 is deployable software authored by CTDS (github.com/uc-cdis), so the upstream specification ships a placeholder host; this is the base URL of the deployment CTDS itself operates. The datacommons.io domain is registered to CDIS, University of Chicago.
  x-operator: institution
  x-verified: '2026-08-19'
  x-verified-evidence: https://gen3.datacommons.io/.well-known/openid-configuration
tags:
- name: Logout
  description: Log out the current user
paths:
  /logout:
    get:
      tags:
      - Logout
      summary: Log out the current user
      description: Log out the current user and redirect to the provided url. The logout will propogate, depending on the identity provider.
      parameters:
      - in: query
        name: next
        schema:
          type: string
        description: The url to redirect the user to after logout
        required: false
      - in: query
        name: force_era_global_logout
        schema:
          type: boolean
        description: Use era commons itrust to logout
        required: false
      responses:
        '302':
          description: redirect to root or url in parameter if provided
      operationId: getLogout
      x-operation-id-source: derived
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          scopes:
            user: generic user access
