openapi: 3.2.0
info:
  contact:
    email: cdis@uchicago.edu
  description: A data submission API for CDIS Gen 3 data commons. Code is available on GitHub.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://cdis.uchicago.edu/terms/
  title: Sheepdog OpenAPI Specification File API
  version: '1.0'
servers:
- url: https://gen3.datacommons.io/
  description: University of Chicago Center for Translational Data Science (CTDS) reference Gen3 data commons. Gen3 is deployable software authored by CTDS (github.com/uc-cdis), so the upstream specification ships a placeholder host; this is the base URL of the deployment CTDS itself operates. The datacommons.io domain is registered to CDIS, University of Chicago.
  x-operator: institution
  x-verified: '2026-08-19'
  x-verified-evidence: https://gen3.datacommons.io/.well-known/openid-configuration
tags:
- name: File
paths:
  /v0/submission/<program>/<project>/files/<file_uuid>:
    delete:
      description: Delete molecular data from object storage.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      - description: The id of the file to upload.
        in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: to abort a multipart upload
        in: query
        name: uploadId
        schema:
          type: string
      responses:
        '200':
          description: Success.
        '400':
          description: Bad Request
        '403':
          description: Unauthorized request.
        '404':
          description: File not found.
        '405':
          description: Method Not Allowed.
      summary: Delete a data file
      tags:
      - File
      operationId: deleteV0Submission<program><project>Files<fileUuid>
      x-operation-id-source: derived
    get:
      description: Get a data file from object storage
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      - description: The id of the file to upload.
        in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: to list parts
        in: query
        name: uploadId
        schema:
          type: string
      responses:
        '200':
          description: Success.
        '400':
          description: Bad Request
        '403':
          description: Unauthorized request.
        '404':
          description: File not found.
        '405':
          description: Method Not Allowed.
      summary: Get a data file
      tags:
      - File
      operationId: getV0Submission<program><project>Files<fileUuid>
      x-operation-id-source: derived
    post:
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      - description: The id of the file to upload.
        in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: to initiate multipart upload
        in: query
        name: uploads
        schema:
          type: string
      - description: to complete multipart upload
        in: query
        name: uploadId
        schema:
          type: string
      responses:
        '200':
          description: Success.
        '400':
          description: Bad Request
        '403':
          description: Unauthorized request.
        '404':
          description: File not found.
        '405':
          description: Method Not Allowed.
      summary: Upload data by multipart upload
      tags:
      - File
      operationId: postV0Submission<program><project>Files<fileUuid>
      x-operation-id-source: derived
    put:
      description: Upload data using single PUT. The request body should contain binary data of the file.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      - description: The id of the file to upload.
        in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: to upload part (use with uploadId)
        in: query
        name: partNumber
        schema:
          type: string
      - description: to upload part (use with partNumber)
        in: query
        name: uploadId
        schema:
          type: string
      responses:
        '200':
          description: Success.
        '400':
          description: Bad Request
        '403':
          description: Unauthorized request.
        '404':
          description: File not found.
        '405':
          description: Method Not Allowed.
      summary: Upload a data file
      tags:
      - File
      operationId: putV0Submission<program><project>Files<fileUuid>
      x-operation-id-source: derived
  /v0/submission/<program>/<project>/manifest:
    get:
      description: Create a json manifest of the files.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: User error.
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Get a manifest of data files
      tags:
      - File
      operationId: getV0Submission<program><project>Manifest
      x-operation-id-source: derived
  /v0/submission/<program>/<project>/upload_manifest:
    get:
      description: Create a json manifest of the files.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: User error.
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Get a manifest of data files
      tags:
      - File
      operationId: getV0Submission<program><project>UploadManifest
      x-operation-id-source: derived
  /v0/submission/admin/<program>/<project>/files/<file_uuid>/reassign:
    put:
      description: Manually (re)assign the S3 url for a given node.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      - description: The id of the file to upload.
        in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
        '400':
          description: Bad Request
        '403':
          description: Unauthorized request.
        '404':
          description: File not found.
        '405':
          description: Method Not Allowed.
      summary: Reassign the S3 URL of a data file
      tags:
      - File
      operationId: putV0SubmissionAdmin<program><project>Files<fileUuid>Reassign
      x-operation-id-source: derived
  /v0/submission/validation/upload_manifest:
    post:
      description: Generate a list of errors found in JSON Schema validation.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schema_error_list'
      summary: Validate a manifest of data files
      tags:
      - File
      operationId: postV0SubmissionValidationUploadManifest
      x-operation-id-source: derived
components:
  schemas:
    schema_error_list:
      items:
        type: string
      type: array
