openapi: 3.2.0
info:
  title: Knowledge@UChicago Repository Communities API
  version: '13.1'
  description: 'Read API for Knowledge@UChicago, the University of Chicago''s institutional repository, running self-hosted InvenioRDM 13.1 on the institution''s own domain. PROVENANCE: the University does not publish an OpenAPI description for this surface. This document was DERIVED by API Evangelist from live probe responses on 2026-08-19 — it describes observed behaviour, not a contract the institution authored, and must not be read as one. Write, draft and file-upload operations exist in InvenioRDM but require authentication and were not probed; they are deliberately absent here rather than guessed.'
  contact:
    name: Knowledge@UChicago
    email: info@knowledge.uchicago.edu
    url: https://knowledge.uchicago.edu/
  license:
    name: See individual record rights statements
    url: https://knowledge.uchicago.edu/
  x-provenance:
    generated: '2026-08-19'
    method: derived
    source: Live unauthenticated HTTP probes of https://knowledge.uchicago.edu/api/ on 2026-08-19; response shapes read from the returned JSON. Platform version read from the <meta name="generator" content="InvenioRDM 13.1"/> tag served by the application.
    x-operator: institution
    x-operator-basis: Host knowledge.uchicago.edu is under the institution's own registrable domain uchicago.edu, and InvenioRDM is open-source software the institution self-hosts rather than a vendor tenancy.
servers:
- url: https://knowledge.uchicago.edu/api
  description: Knowledge@UChicago production repository
  x-operator: institution
  x-verified: '2026-08-19'
tags:
- name: communities
  description: Repository communities (collections).
paths:
  /communities:
    get:
      tags:
      - communities
      summary: Search communities
      description: Returns a paged hit list of repository communities. Verified live 2026-08-19.
      operationId: searchCommunities
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: size
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: A page of communities.
          content:
            application/json:
              schema:
                type: object
