openapi: 3.2.0
info:
  description: Indexd is a data indexing and tracking service. The code is open source on github
  version: 1.0.0
  title: Indexd OpenAPI Specification Bulk API
  termsOfService: http://cdis.uchicago.edu/terms/
  contact:
    email: cdis@uchicago.edu
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://gen3.datacommons.io/
  description: University of Chicago Center for Translational Data Science (CTDS) reference Gen3 data commons. Gen3 is deployable software authored by CTDS (github.com/uc-cdis), so the upstream specification ships a placeholder host; this is the base URL of the deployment CTDS itself operates. The datacommons.io domain is registered to CDIS, University of Chicago.
  x-operator: institution
  x-verified: '2026-08-19'
  x-verified-evidence: https://gen3.datacommons.io/.well-known/openid-configuration
tags:
- name: Bulk
  description: bulk endpoints
paths:
  /bulk/documents:
    post:
      tags:
      - Bulk
      summary: Get a list of documents given a list of dids
      operationId: getBulkIds
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOutputInfo'
        '400':
          description: Invalid status value
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkInputInfo'
        description: List of dids to retrieve
        required: true
components:
  schemas:
    OutputInfo:
      type: object
      properties:
        did:
          $ref: '#/components/schemas/DID'
        baseid:
          $ref: '#/components/schemas/UUID'
        rev:
          type: string
          pattern: ^[0-9a-f]{8}$
        form:
          type: string
          description: how the entry was submitted to storage
          enum:
          - object
          - container
          - multipart
        size:
          type: integer
          format: int64
          description: size in bytes
        file_name:
          type: string
        version:
          type: string
        uploader:
          type: string
        urls:
          type: array
          items:
            type: string
        acl:
          type: array
          items:
            type: string
        authz:
          type: array
          items:
            type: string
        hashes:
          $ref: '#/components/schemas/HashInfo'
        updated_date:
          type: string
          format: date-time
          description: last updated time
        created_date:
          type: string
          format: date-time
          description: time created
        metadata:
          type: object
          description: user defined optional metadata
        urls_metadata:
          type: object
          description: url level optional metadata
    BulkOutputInfo:
      type: array
      items:
        $ref: '#/components/schemas/OutputInfo'
    UUID:
      type: string
      pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
    DID:
      type: string
      pattern: ^.*[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
    BulkInputInfo:
      type: array
      items:
        type: string
    HashInfo:
      type: object
      properties:
        md5:
          type: string
          pattern: ^[0-9a-f]{32}$
        sha:
          type: string
          pattern: ^[0-9a-f]{40}$
        sha256:
          type: string
          pattern: ^[0-9a-f]{64}$
        sha512:
          type: string
          pattern: ^[0-9a-f]{128}$
        crc:
          type: string
          pattern: ^[0-9a-f]{8}$
        etag:
          type: string
          pattern: ^[0-9a-f]{32}(-\d+)?$
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    authToken:
      type: apiKey
      in: header
      name: Authorization
