openapi: 3.2.0
info:
  contact:
    email: cdis@uchicago.edu
  description: A data submission API for CDIS Gen 3 data commons. Code is available on GitHub.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://cdis.uchicago.edu/terms/
  title: Sheepdog OpenAPI Specification Project API
  version: '1.0'
servers:
- url: https://gen3.datacommons.io/
  description: University of Chicago Center for Translational Data Science (CTDS) reference Gen3 data commons. Gen3 is deployable software authored by CTDS (github.com/uc-cdis), so the upstream specification ships a placeholder host; this is the base URL of the deployment CTDS itself operates. The datacommons.io domain is registered to CDIS, University of Chicago.
  x-operator: institution
  x-verified: '2026-08-19'
  x-verified-evidence: https://gen3.datacommons.io/.well-known/openid-configuration
tags:
- name: Project
paths:
  /v0/submission/<program>:
    get:
      description: Return the available resources at the top level of program ``program``, i.e. registered projects.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schema_links'
        '403':
          description: Unauthorized request.
        '404':
          description: Program not found.
      summary: Get the projects
      tags:
      - Project
      operationId: getV0Submission<program>
      x-operation-id-source: derived
    patch:
      description: Register a project. The content of the request is a JSON containing the information describing a project. Authorization for registering projects is limited to administrative users.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Registered successfully.
        '400':
          description: User error.
        '403':
          description: Unauthorized request.
        '404':
          description: Program not found.
      summary: Create a project
      tags:
      - Project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema_project'
        description: input body
      operationId: patchV0Submission<program>
      x-operation-id-source: derived
    post:
      description: Register a project. The content of the request is a JSON containing the information describing a project. Authorization for registering projects is limited to administrative users.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Registered successfully.
        '400':
          description: User error.
        '403':
          description: Unauthorized request.
        '404':
          description: Program not found.
      summary: Create a project
      tags:
      - Project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema_project'
        description: input body
      operationId: postV0Submission<program>
      x-operation-id-source: derived
    put:
      description: Register a project. The content of the request is a JSON containing the information describing a project. Authorization for registering projects is limited to administrative users.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Registered successfully.
        '400':
          description: User error.
        '403':
          description: Unauthorized request.
        '404':
          description: Program not found.
      summary: Create a project
      tags:
      - Project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema_project'
        description: input body
      operationId: putV0Submission<program>
      x-operation-id-source: derived
  /v0/submission/<program>/<project>:
    delete:
      description: Delete project under a specific program
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success.
        '400':
          description: User error.
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Delete a project
      tags:
      - Project
      operationId: deleteV0Submission<program><project>
      x-operation-id-source: derived
  /v0/submission/<program>/<project>/open:
    post:
      description: Mark a project ``open``. Opening a project means uploads, deletions, etc. are allowed.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Open a project
      tags:
      - Project
      operationId: postV0Submission<program><project>Open
      x-operation-id-source: derived
    put:
      description: Mark a project ``open``. Opening a project means uploads, deletions, etc. are allowed.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Open a project
      tags:
      - Project
      operationId: putV0Submission<program><project>Open
      x-operation-id-source: derived
  /v0/submission/<program>/<project>/release:
    post:
      description: Release a project.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Release a project
      tags:
      - Project
      operationId: postV0Submission<program><project>Release
      x-operation-id-source: derived
    put:
      description: Release a project.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Release a project
      tags:
      - Project
      operationId: putV0Submission<program><project>Release
      x-operation-id-source: derived
  /v0/submission/<program>/<project>/review:
    post:
      description: Mark a project project for review. Reviewing a project means uploads are locked. An ``open`` or ``submit`` action must be taken after ``review``.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Review a project
      tags:
      - Project
      operationId: postV0Submission<program><project>Review
      x-operation-id-source: derived
    put:
      description: Mark a project project for review. Reviewing a project means uploads are locked. An ``open`` or ``submit`` action must be taken after ``review``.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Review a project
      tags:
      - Project
      operationId: putV0Submission<program><project>Review
      x-operation-id-source: derived
  /v0/submission/<program>/<project>/submit:
    post:
      description: Submit a project.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project submitted successfully
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Submit a project
      tags:
      - Project
      operationId: postV0Submission<program><project>Submit
      x-operation-id-source: derived
    put:
      description: Submit a project.
      parameters:
      - description: The program to which the submitter belongs and in which the entities will be created. The `program` is the human-readable name, e.g. TCGA.
        in: path
        name: program
        required: true
        schema:
          type: string
      - description: The project to which the submitter belongs and in which the entities will be created. The `project` is the human-readable code, e.g. BRCA.
        in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project submitted successfully
        '403':
          description: Unauthorized request.
        '404':
          description: Resource not found.
      summary: Submit a project
      tags:
      - Project
      operationId: putV0Submission<program><project>Submit
      x-operation-id-source: derived
components:
  schemas:
    schema_links:
      properties:
        links:
          items:
            type: string
          type: array
      required:
      - links
      type: object
    schema_project:
      properties:
        code:
          type: string
        dbgap_accession_number:
          type: string
        investigator_name:
          type: string
        name:
          type: string
        type:
          type: string
      required:
      - name
      - code
      type: object
