openapi: 3.2.0
info:
  title: Peregrine OpenAPI Specification Datasets API
  version: 0.1.0
  description: GraphQL search microservice for CDIS Gen 3 data commons. Code is available on GitHub.
  termsOfService: http://cdis.uchicago.edu/terms/
  contact:
    email: cdis@uchicago.edu
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://gen3.datacommons.io/
  description: University of Chicago Center for Translational Data Science (CTDS) reference Gen3 data commons. Gen3 is deployable software authored by CTDS (github.com/uc-cdis), so the upstream specification ships a placeholder host; this is the base URL of the deployment CTDS itself operates. The datacommons.io domain is registered to CDIS, University of Chicago.
  x-operator: institution
  x-verified: '2026-08-19'
  x-verified-evidence: https://gen3.datacommons.io/.well-known/openid-configuration
tags:
- name: Datasets
paths:
  /datasets:
    get:
      tags:
      - Datasets
      summary: Get counts for nodes for each project
      parameters:
      - in: query
        name: nodes
        description: comma delimited nodes to get counts for
        schema:
          type: string
      responses:
        '200':
          description: node counts for each project
          content:
            application/json:
              schema:
                type: object
                example:
                  project__A:
                    case: 0
                    aliquot: 1
                  project_B:
                    case: 2
                    aliquot: 3
        '401':
          description: unauthorized request
        '400':
          description: invalid request
      operationId: getDatasets
      x-operation-id-source: derived
  /datasets/projects:
    get:
      tags:
      - Datasets
      summary: Get high level information for all projects
      responses:
        '200':
          description: high level information for all projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                example:
                  projects:
                  - name: project_A
                    code: A_code
                    dbgap_accession_number: 123
        '401':
          description: unauthorized request
        '400':
          description: invalid request
      operationId: getDatasetsProjects
      x-operation-id-source: derived
components:
  schemas:
    Project:
      type: object
      properties:
        name:
          type: string
        code:
          type: string
        dbgap_accession_number:
          type: string
        description:
          type: string
        image_url:
          type: string
